body {
	text-align: center;
	background-color: #FFD166;
}

li, ul {
	list-style: none;
	padding-left: 0;
}

.register {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login {
	display: flex;
	flex-direction: column;
}

span, header, h3, ul, li, .login, .register, button, input {
	font-family: 'Roboto Slab';
}


.input {
	max-width: 200px;
}



.categoryList {
	height: 5vh;
	width: 50vw;
	margin: 10px;
	text-align: center;
	background-color: rgba(122, 255, 122, .5);
}

.categoryList:hover {
	background-color: rgba(255, 255, 122, .5);

}


.settingsCategory {
	height: 15vh;
	width: 25vw;
	text-align: center;
	margin: 10px;
	background-color: rgba(22, 155, 22, .5);
	
}

.settingsCategory:hover {
	background-color: rgba(255, 255, 55, .5);
}

.clicked {
	background-color: rgba(122, 255, 122, .5);
}










.test {
	background-image: url('https://i.imgur.com/Hc1jBpq.jpg');
}

@media only screen and (max-width: 1440px) {
section{max-width:95%;}
}

@media only screen and (max-width: 980px) {}


@media only screen and (max-width: 980px) {
.content{width:90%;}
}