body {
	text-align: center;
	background-color: #118AB2;

}

header {
	display: flex;
	justify-content: space-between;
}


.categoryList span {
	background-color: white;
}


.menuText {
	color: #B4FFDA;
	text-decoration: none;
}

.menuText:visited {
    text-decoration: none;
}

li, ul {
	list-style: none;
	padding-left: 0;
}

.register {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login {
	display: flex;
	flex-direction: column;
}

span, header, h3, ul, li, .login, .register, button, input {
	font-family: 'Roboto Slab';
}


.input {
	max-width: 200px;
}


li, ul {
	list-style: none;
	padding-left: 0;
}

#categories {
	display: flex;
	flex-direction: column;
	align-items: center;

}

button {
	background-color: #118AB2;
	color: #FFD166;
}

.eventContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.eventImg {
	height: 20vh;
	max-width: 100%;
}

.events {
	margin: 20px;
	height: 20vh;
	width: 50vw;
	display: flex;
}

ul, li {
	list-style: none;
	padding-left: 0;
}


.categoryList {
	height: 60vh;
	width: 60vw;
	margin: 10px;
	text-align: center;
	background-color: #118AB2;
}

#categories #music {
	background-image: url(https://i.imgur.com/5mdRkC0.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

#categories #food-and-drink {
	background-image: url(https://i.imgur.com/4qZoHq0.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

#categories #other {
	background-image: url(https://i.imgur.com/AfT5tFj.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

#categories #performing-arts {
	background-image: url(https://i.imgur.com/Y8LkT4d.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

#categories #charities {
	background-image: url(https://i.imgur.com/kMrR2p1.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

#categories #festivals-fairs {
	background-image: url(https://i.imgur.com/3KzrTjc.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

#categories #sports-active-life {
	background-image: url(https://i.imgur.com/Rxc5mUb.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

#categories #nightlife {
	background-image: url(https://i.imgur.com/HQAHeJL.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

#categories #visual-arts {
	background-image: url(https://i.imgur.com/D6vLToO.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

#categories #kids-family {
	background-image: url(https://i.imgur.com/9Wdah6E.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

#categories #fashion {
	background-image: url(https://i.imgur.com/7gC8K1N.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

#categories #film {
	background-image: url(https://i.imgur.com/Hc1jBpq.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

#categories #lectures-books {
	background-image: url(https://i.imgur.com/eVjz1xT.jpg);
	background-size: 100% 100%;
	cursor: pointer;
}

.categoryList:hover {
	background-color: #9F5BFF;

}

.settingsCategoryContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

}


.settingsCategory {
	height: 15vh;
	width: 25vw;
	text-align: center;
	margin: 10px;
	background-color: rgba(22, 22, 22, .5);
	
}

.settingsCategory:hover {
	background-color: #9F5BFF;
}

.clicked {
	background-color: #FFD166;
}


.test {
	background-image: url('https://i.imgur.com/Hc1jBpq.jpg');
}

@media only screen and (max-width: 1440px) {
section{max-width:95%;}
}

@media only screen and (max-width: 980px) {}


@media only screen and (max-width: 980px) {
.content{width:90%;}
}